*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
     color: #0a0a0a;
     
}
main{
    height: 100%;
    width: 100%;
    /* background-color: #0a0a0a; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    padding: 15px;
    /* gap: 15px; */

    grid-template-areas: "header header header"
                        
                       
    
                         ;

}
#header{
    grid-area: header;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1.1fr 0.9fr;
    grid-template-rows: 1fr;
    
}
#nav-left{
    /* background-color: #f40d0d; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5vw;
    gap: 10px;
}
#nav-left img{
    width: 30px;
    border-radius: 50px;
}
#nav-left h3{
    color: #0a0a0a;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-size: 26px;
    display: inline-block;
    align-items: center;
}
#nav-link{
    /* background-color: #52c31e; */
    display: flex;
    align-items: center;
    justify-content:space-evenly;

    
}
#nav-link a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
   font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}
#nav-right {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#nav-right #btn1{
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid blue;
}
#nav-right #btn2{
    padding: 15px 30px;
    border-radius: 50px;
    background-color:blue;
    border: 2px solid blue;
}
#nav-right #btn1 a{
    text-decoration: none;
    color: blue;
    font-weight: 500;
}
#nav-right #btn2 a{
    text-decoration: none;
    color: #fff;
     font-weight: 500;
}
/* header css done */
/* Responsive header */
#about{
    width: 100%;
    height: 100%;
    background-color:#F6F7F9;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "about-left about-right"
                        "about-bottom about-bottom"
                        ;
}
#about-left{
    grid-area: about-left;
      /* background-color: #fff; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:self-start;
    font-size: 2vw;
    font-weight: 400;
    padding-top:2.5vw ;
}

#about-right{
    grid-area: about-right;
    /* background-color: #14aaac; */
    width: 100%;
    padding: 7%;
    gap: 20px;
    
}
#about-right{
    font-weight:100 ;
    font-size: 15px;
}
#about-right #btn2{
     padding: 20px 30px;
    border-radius: 50px;
    background-color:blue;
    border: 2px solid blue;
    margin-top: 20px;
   
     
}
#about-right #btn1{
    padding: 20px 30px;
    border-radius: 50px;
    border: 2px solid blue;
    margin-top: 20px;
     margin-left: 10px;
    
     
}
#about-right #btn1 a{
    text-decoration: none;
    color: blue;
    font-weight: 500;
}
#about-right #btn2 a{
    text-decoration: none;
    color: #fff;
     font-weight: 500;
}
#about-bottom{
    grid-area: about-bottom;
    /* background-color: #bf1111; */
     display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
   
    
    
}
#about-bottom img{
    height: 100%;
 align-content: center;
 background-position: center;
 object-fit: cover;
 overflow: hidden;
 border-radius: 50px;
 transform: translate(-50% -50%);
 cursor: pointer;
 
   
   
}

#aboutus{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:#F6F7F9;
   
}
#top{
    background-color: #fff;
    width:100% ;
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
}
#top #top1{
    width: 25%;
    text-align: center;


}
#top #top1 h1{
    font-size: 40px;
    
}
#top #top2 h1{
    font-size: 40px;
}
#top #top3 h1{
    font-size: 40px;
}
#top #top4 h1{
    font-size: 40px;
}

#top #top2{
    width: 25%;
    text-align: center;
}
#top #top3{
    width: 25%;
    text-align: center;

}
#top #top4{
    width: 25%;
    text-align: center;

}

#card{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    /* background-color: #e10d0d; */
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 200px 1fr;
    gap: 10px;
    padding: 10px;


    grid-template-areas: "card1 card2 card3"
                          "card4 card5 card6"
                          "card7 card8 card9";

}
#card1{
    grid-area: card1;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0HkQcQrAHAcMHB_jzk3x3C_-_aVHvcBHJkQ&s);
    border: 2px solid gray;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}
#card2{
    grid-area: card2;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRefVWc24dItTB3Cumql6xadQgOZv6MlK6TSQ&s);
     border: 2px solid gray;
    border-radius: 50px;
    background-size: cover;
    background-position: center;

}
#card3{ 
    grid-area: card3;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0HkQcQrAHAcMHB_jzk3x3C_-_aVHvcBHJkQ&s);
     border: 2px solid gray;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}
#card4{
    grid-area: card4;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0HkQcQrAHAcMHB_jzk3x3C_-_aVHvcBHJkQ&s);
     border: 2px solid gray;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}
#card5{
    grid-area: card5;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0HkQcQrAHAcMHB_jzk3x3C_-_aVHvcBHJkQ&s);
     border: 2px solid gray;
    border-radius: 50px;background-size: cover;
    background-position: center;

}
#card6{
    grid-area: card6;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0HkQcQrAHAcMHB_jzk3x3C_-_aVHvcBHJkQ&s);
     border: 2px solid gray;
    border-radius: 50px;background-size: cover;
    background-position: center;
}
#card7{
    grid-area: card7;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNu0ndwQgSRixcYYs9QevXkdu9fSh_XSOMDw&s);
     border: 2px solid gray;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}
#card8{
    grid-area: card8;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRahhuBUXdhwrHlIg_NQRKaMNpUuB2fsCAr8A&s);
     border: 2px solid gray;
    border-radius: 50px;
    background-size: cover;
    background-position:start;
}
#card9{
    grid-area: card9;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-u73WDi1Q9vVL-33L--n1C9AEGvvy08VGmg&s);
     border: 2px solid gray;
    border-radius: 50px;
    background-size: cover;
    background-position:center;
    transform: rotatez('65deg');

}
