* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100vh;
    background-image: url("Sheryians.png");
    background-size: cover;
    background-position: center;
    color:White;
    display: flex;
    font-size: 1em;
}
.left{
    width: 50%;
    text-align: center;
    margin-top: 50vh;
    font-family: sans-serif;
}
.left h2{
    color: rgb(19, 211, 211);
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
i{
    color: rgb(45, 223, 92);
    font-size: bold;
}
.right{
    width: 50%;
    text-align: center;
    margin-top: 50vh;
    margin-left: 500px;
    font-family: sans-serif;
}
button{
    margin-top: 50px;
    padding: 20px 40px;
    color: aliceblue;
    border: 2px solid gray;
    border-radius: 50px;
    font-size: 1em;
   background-color: transparent;
}